<h2 class="content-block">Bienvenido a Ophelia</h2>
<div class="content-block">
    <div class="dx-card responsive-paddings">

        <p>Bienvenido a la prueba tecnica del aspirante <b>Michael Andres Lozano</b></p>

        <p>Dentro de la aplicación, se visualizara el siguiente contenido: </p>

        <ul>
            <li><b>Proyecto Back-end</b> en el repositorio GIT <a href="https://github.com/NewMals/OpheliaAPI" target="_blank">OpheliaClient</a>: Se realizo una arquitectura entre capas implementando validaciones, orquestador, repositorios, dtos, modelos, contexto entre otros para mayor control de errores, utilizando la tecnologia .NetCore en su version 2.1.0.
              <p>Para el correcto funcionamiento de la aplicacion, favor ejecutar el arhivo <b>CreateTables.sql</b> adjunto en el correo enviado.</p>
            </li>
            <li>Una vez clonado y ejecutado el proyecto. El API se encuentra configurado en la ruta https://localhost:44332/</li>
            <br/>
            <li><b>Proyecto Front-end</b> en el repositorio GIT <a href="https://github.com/NewMals/OpheliaClient" target="_blank">OpheliaClient</a>: Se realizo la creacion de la aplicacion de acuerdo a la arquitectura recomendada por el framework <a href="https://js.devexpress.com/" target="_blank">Devexpress</a>, en donde se puede aprevisar las vistas para la informacion de usuarios y facturas</li>
            <br/>
            <li><b>Consultas:</b> dentro del arhivo <b>Querys.sql</b>(adjunto en el correo), se encuentran las consultas solicitadas de acuerdo a la prueba tecnica.</li>
        </ul>
    </div>
</div>
